<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8"/>
    <title>Lance</title>
</head>
<body>
    <h1>Lista de Lances</h1>

    <ul>
        <% for(var i = 0; i < lance.length; i++){%>
            <li>
                Nome: <%= lance[i].produto %>
            </li>    
        
            <%} %>

    </ul>
</body>
</html>